.modal-color {
    background-color: #2A2B2DFF;
}

.modal-body {
    background-color: #007c7c;
}

.close {
    color: #fff;
}

.footer {
    background-color: #252525;
    padding: 40px 0;
}

.widget li a {
    color: #007c7c;
}

.widget li a:hover {
    color: blue;
}

.widget-title {
    margin-bottom: 20px;
}

.widget-title span {
    background: #839FAD none repeat scroll 0 0;
    display: block;
    height: 1px;
    margin-top: 25px;
    position: relative;
    width: 20%;
}

.widget-title span::after {
    background: inherit;
    content: "";
    height: inherit;
    position: absolute;
    top: -4px;
    width: 50%;
}


.a_color {
    color: #007c7c;
}

.typo-light h1,
.typo-light h2,
.typo-light h3,
.typo-light h4,
.typo-light h5,
.typo-light h6,
.typo-light p,
.typo-light div,
.typo-light span,
.typo-light small {
    color: #fff;
}


.content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
}
.article-img {
    height: 50px;
    width: 50px;
}